.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff
  .fa
    padding-right 15px

.archive
  border-bottom 1px solid color-border
  margin-bottom 0px
  article
    box-shadow none
    .post-content
      margin-bottom 0
  article
    margin 20px 0 10px 0
    time
      float right
      font-size 14px
      a
        color #d2d2d2
        &:hover 
          color #d2d2d2
          text-decoration none
  .title
    font-size 14px
    a
      color #484848
      &:hover
        color #d2d2d2